<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     <h1>Expense Tracker</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" > <!-- Added justify-content-end -->
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" routerLink="/auth1/login">Login</a>
                <a class="nav-link active" aria-current="page" routerLink="/auth/signup">Signup</a>
                <a class="nav-link active" aria-current="page" routerLink="homepage">HOME</a>
  
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
            </div>
        </div>
    </div>
  </nav>

<!-- body of the landing page  -->
<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center text-center text-white">
    <div class="landing-bodypage">
        <h1>Track Your Expense Like Never Before</h1>
        <p>Take Control of your Finances with our Powerful Expense Tracker Application</p>
        </div>
    </div>
  