body{
    font-family: arial,sans-serif ;
    margin: 0;
    padding: 0;
    background-color:white;
}

.navbar{
    background: linear-gradient(135deg, rgb(238, 112, 133), rgb(255, 15, 55) );
    padding: 10px, 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: peachpuff;
}

.login-container{
    max-width: 400px;
    margin: 100px auto 50px auto;
    background-color:rgb(126, 243, 171);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
    padding: 40px;
}

.login-container{
    margin-bottom: 20px;
    text-align: center;
}

.form-group{
    margin-bottom: 25px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 90%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid rgb(201, 129, 141);
    background-color: whitesmoke;
}

input[type="email"] :focus,
input[type="password"]:focus,
input[type="text"] :focus {
    outline: none;
}

.button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, rgb(241, 233, 226),rgb(214, 122, 42));
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover{
    background: black;
}

.p{
    text-align: center;
    cursor: pointer;
    color: blue;
    transition: color 0.3s ease;
}

.highlighted{
    text-decoration: underline;
}

.highlighted:hover{
    color: aqua0;
    text-decoration: underline;
}